# Actual executable
Spectrum

# PDFSets folder
PDFsets

# Spectrum project
*.sublime-project
*.sublime-workspace

# Plots output (PNG) folder
*.png

# Temporary Emacs files
*~

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
#*.lai
#*.la
#*.a
#*.lib

# Executables
*.exe
*.out
*.app

# Entire bin directory...
bin